In [1]:
# libraries

from datetime import datetime
import os
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

# Web Scrapping

In [2]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[1]
head = thead.find_all('tr')

tbody = soup.find_all('tbody')[1]
body = tbody.find_all('tr')

# print(rows)

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
    
print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-1], columns=head_rows[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

[['S. No.', 'Name of State / UT', 'Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 'Cured/Discharged/Migrated', 'Death']]

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andhra Pradesh,7,0,0,0
1,Bihar,2,0,0,1
2,Chhattisgarh,1,0,0,0
3,Delhi,28,1,5,1
4,Gujarat,29,0,0,1
5,Haryana,12,14,0,0
6,Himachal Pradesh,2,0,0,0
7,Karnataka,33,0,2,1
8,Kerala,60,7,3,0
9,Madhya Pradesh,6,0,0,0
10,Maharashtra,71,3,0,2
11,Odisha,2,0,0,0
12,Puducherry,1,0,0,0
13,Punjab,21,0,0,1
14,Rajasthan,26,2,3,0
15,Tamil Nadu,7,2,1,0
16,Telengana,22,10,1,0
17,Chandigarh,6,0,0,0
18,Jammu and Kashmir,4,0,0,0
19,Ladakh,13,0,0,0
20,Uttar Pradesh,30,1,9,0
21,Uttarakhand,3,0,0,0
22,West Bengal,7,0,0,0

# Data Cleaning

In [3]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date
0,Andhra Pradesh,7,0,0,0,2020-03-23
1,Bihar,2,0,0,1,2020-03-23
2,Chhattisgarh,1,0,0,0,2020-03-23
3,Delhi,28,1,5,1,2020-03-23
4,Gujarat,29,0,0,1,2020-03-23
5,Haryana,12,14,0,0,2020-03-23
6,Himachal Pradesh,2,0,0,0,2020-03-23
7,Karnataka,33,0,2,1,2020-03-23
8,Kerala,60,7,3,0,2020-03-23
9,Madhya Pradesh,6,0,0,0,2020-03-23
10,Maharashtra,71,3,0,2,2020-03-23
11,Odisha,2,0,0,0,2020-03-23
12,Puducherry,1,0,0,0,2020-03-23
13,Punjab,21,0,0,1,2020-03-23
14,Rajasthan,26,2,3,0,2020-03-23
15,Tamil Nadu,7,2,1,0,2020-03-23
16,Telengana,22,10,1,0,2020-03-23
17,Chandigarh,6,0,0,0,2020-03-23
18,Jammu and Kashmir,4,0,0,0,2020-03-23
19,Ladakh,13,0,0,0,2020-03-23
20,Uttar Pradesh,30,1,9,0,2020-03-23
21,Uttarakhand,3,0,0,0,2020-03-23
22,West Bengal,7,0,0,0,2020-03-23

In [4]:
df_bs['Name of State / UT'].unique()

array(['Andhra Pradesh', 'Bihar', 'Chhattisgarh', 'Delhi', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Odisha', 'Puducherry', 'Punjab',
       'Rajasthan', 'Tamil Nadu', 'Telengana', 'Chandigarh',
       'Jammu and Kashmir', 'Ladakh', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal'], dtype=object)

In [5]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041,
       'Haryana':29.0588,
       'Kerala':10.8505,
       'Rajasthan':27.0238,
       'Telengana':18.1124,
       'Uttar Pradesh':26.8467,
       'Ladakh':34.2996,
       'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782,
       'Punjab':31.1471,
       'Karnataka':15.3173,
       'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 
       'Odisha':20.9517, 
       'Uttarakhand':30.0668, 
       'West Bengal':22.9868, 
       'Puducherry': 11.9416, 
       'Chandigarh': 30.7333, 
       'Chhattisgarh':21.2787, 
       'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 
       'Madhya Pradesh': 22.9734, 
       'Bihar': 25.0961}

long = {'Delhi':77.1025,
        'Haryana':76.0856,
        'Kerala':76.2711,
        'Rajasthan':74.2179,
        'Telengana':79.0193,
        'Uttar Pradesh':80.9462,
        'Ladakh':78.2932,
        'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762,
        'Punjab':75.3412,
        'Karnataka':75.7139,
        'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 
        'Odisha':85.0985, 
        'Uttarakhand':79.0193, 
        'West Bengal':87.8550, 
        'Puducherry': 79.8083, 
        'Chandigarh': 76.7794, 
        'Chhattisgarh':81.8661, 
        'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 
        'Madhya Pradesh': 78.6569, 
        'Bihar': 85.3131}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head()

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,7,0,0,0,2020-03-23,15.9129,79.7400
1,Bihar,2,0,0,1,2020-03-23,25.0961,85.3131
2,Chhattisgarh,1,0,0,0,2020-03-23,21.2787,81.8661
3,Delhi,28,1,5,1,2020-03-23,28.7041,77.1025
4,Gujarat,29,0,0,1,2020-03-23,22.2587,71.1924

In [6]:
df_bs.isna().sum()

Name of State / UT                            0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
Cured/Discharged/Migrated                     0
Death                                         0
Date                                          0
Latitude                                      0
Longitude                                     0
dtype: int64

# Saving data

In [7]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,7,0,0,0,2020-03-23,15.9129,79.7400
1,Bihar,2,0,0,1,2020-03-23,25.0961,85.3131
2,Chhattisgarh,1,0,0,0,2020-03-23,21.2787,81.8661
3,Delhi,28,1,5,1,2020-03-23,28.7041,77.1025
4,Gujarat,29,0,0,1,2020-03-23,22.2587,71.1924
5,Haryana,12,14,0,0,2020-03-23,29.0588,76.0856
6,Himachal Pradesh,2,0,0,0,2020-03-23,31.1048,77.1734
7,Karnataka,33,0,2,1,2020-03-23,15.3173,75.7139
8,Kerala,60,7,3,0,2020-03-23,10.8505,76.2711
9,Madhya Pradesh,6,0,0,0,2020-03-23,22.9734,78.6569
10,Maharashtra,71,3,0,2,2020-03-23,19.7515,75.7139
11,Odisha,2,0,0,0,2020-03-23,20.9517,85.0985
12,Puducherry,1,0,0,0,2020-03-23,11.9416,79.8083
13,Punjab,21,0,0,1,2020-03-23,31.1471,75.3412
14,Rajasthan,26,2,3,0,2020-03-23,27.0238,74.2179
15,Tamil Nadu,7,2,1,0,2020-03-23,11.1271,78.6569
16,Telengana,22,10,1,0,2020-03-23,18.1124,79.0193
17,Chandigarh,6,0,0,0,2020-03-23,30.7333,76.7794
18,Jammu and Kashmir,4,0,0,0,2020-03-23,33.7782,76.5762
19,Ladakh,13,0,0,0,2020-03-23,34.2996,78.2932
20,Uttar Pradesh,30,1,9,0,2020-03-23,26.8467,80.9462
21,Uttarakhand,3,0,0,0,2020-03-23,30.0668,79.0193
22,West Bengal,7,0,0,0,2020-03-23,22.9868,87.8550

In [8]:
df_bs.columns

Index(['Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

# Combining data

In [9]:
! ls C:\Users\imdevskp\Desktop\covid_india\.day_by_day_data

2020_03_21.csv
2020_03_22.csv
2020_03_23.csv

In [10]:
# pd.read_csv?

In [11]:
# complete data

loc = "C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\"

files = glob.glob(loc+'2020*.csv')
dfs = []
for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated'})
    dfs.append(df_temp)
    
# print(dfs)

complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

complete_data[cols] = complete_data[cols].fillna(0).astype('int')

# complete_data.tail(50)

In [12]:
complete_data.columns

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death'],
      dtype='object')

In [13]:
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [14]:
complete_data['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Rajasthan', 'Haryana',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar'], dtype=object)

In [15]:
# sorted(complete_data['Name of State / UT'].unique())

In [16]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 8 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        316 non-null    datetime64[ns]
 1   Name of State / UT                          316 non-null    object
 2   Total Confirmed cases (Indian National)     316 non-null    int32
 3   Total Confirmed cases ( Foreign National )  316 non-null    int32
 4   Cured/Discharged/Migrated                   316 non-null    int32
 5   Latitude                                    316 non-null    float64
 6   Longitude                                   316 non-null    float64
 7   Death                                       316 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(4), object(1)
memory usage: 14.9+ KB

In [17]:
complete_data.to_csv('complete.csv', index=False)