In [18]:
# libraries

from datetime import datetime
import os
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

# Web Scrapping

In [19]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[-1]
# print(thead)
head = thead.find_all('tr')

tbody = soup.find_all('tbody')[-1]
body = tbody.find_all('tr')

# print(rows)

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
    
# print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-2], columns=head_rows[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death
0,Andaman and Nicobar Islands,1,0,0,0
1,Andhra Pradesh,12,0,1,0
2,Bihar,6,0,0,1
3,Chandigarh,7,0,0,0
4,Chhattisgarh,6,0,0,0
5,Delhi,35,1,6,1
6,Goa,3,0,0,0
7,Gujarat,42,1,0,3
8,Haryana,16,14,11,0
9,Himachal Pradesh,3,0,0,1
10,Jammu and Kashmir,13,0,1,1
11,Karnataka,55,0,3,2
12,Kerala,129,8,11,0
13,Ladakh,13,0,3,0
14,Madhya Pradesh,20,0,0,1
15,Maharashtra,127,3,15,4
16,Manipur,1,0,0,0
17,Mizoram,1,0,0,0
18,Odisha,2,0,0,0
19,Puducherry,1,0,0,0
20,Punjab,33,0,0,1
21,Rajasthan,39,2,3,0
22,Tamil Nadu,23,6,1,1
23,Telengana,35,10,1,0
24,Uttarakhand,4,1,0,0
25,Uttar Pradesh,40,1,11,0
26,West Bengal,10,0,0,1

# Data Cleaning

In [20]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date
0,Andaman and Nicobar Islands,1,0,0,0,2020-03-27
1,Andhra Pradesh,12,0,1,0,2020-03-27
2,Bihar,6,0,0,1,2020-03-27
3,Chandigarh,7,0,0,0,2020-03-27
4,Chhattisgarh,6,0,0,0,2020-03-27
5,Delhi,35,1,6,1,2020-03-27
6,Goa,3,0,0,0,2020-03-27
7,Gujarat,42,1,0,3,2020-03-27
8,Haryana,16,14,11,0,2020-03-27
9,Himachal Pradesh,3,0,0,1,2020-03-27
10,Jammu and Kashmir,13,0,1,1,2020-03-27
11,Karnataka,55,0,3,2,2020-03-27
12,Kerala,129,8,11,0,2020-03-27
13,Ladakh,13,0,3,0,2020-03-27
14,Madhya Pradesh,20,0,0,1,2020-03-27
15,Maharashtra,127,3,15,4,2020-03-27
16,Manipur,1,0,0,0,2020-03-27
17,Mizoram,1,0,0,0,2020-03-27
18,Odisha,2,0,0,0,2020-03-27
19,Puducherry,1,0,0,0,2020-03-27
20,Punjab,33,0,0,1,2020-03-27
21,Rajasthan,39,2,3,0,2020-03-27
22,Tamil Nadu,23,6,1,1,2020-03-27
23,Telengana,35,10,1,0,2020-03-27
24,Uttarakhand,4,1,0,0,2020-03-27
25,Uttar Pradesh,40,1,11,0,2020-03-27
26,West Bengal,10,0,0,1,2020-03-27

In [21]:
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Karnataka', 'Kerala',
       'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Mizoram',
       'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telengana', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal'],
      dtype=object)

In [22]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,1,0,0,0,2020-03-27,11.7401,92.6586
1,Andhra Pradesh,12,0,1,0,2020-03-27,15.9129,79.7400
2,Bihar,6,0,0,1,2020-03-27,25.0961,85.3131
3,Chandigarh,7,0,0,0,2020-03-27,30.7333,76.7794
4,Chhattisgarh,6,0,0,0,2020-03-27,21.2787,81.8661
5,Delhi,35,1,6,1,2020-03-27,28.7041,77.1025
6,Goa,3,0,0,0,2020-03-27,15.2993,74.1240
7,Gujarat,42,1,0,3,2020-03-27,22.2587,71.1924
8,Haryana,16,14,11,0,2020-03-27,29.0588,76.0856
9,Himachal Pradesh,3,0,0,1,2020-03-27,31.1048,77.1734
10,Jammu and Kashmir,13,0,1,1,2020-03-27,33.7782,76.5762
11,Karnataka,55,0,3,2,2020-03-27,15.3173,75.7139
12,Kerala,129,8,11,0,2020-03-27,10.8505,76.2711
13,Ladakh,13,0,3,0,2020-03-27,34.2996,78.2932
14,Madhya Pradesh,20,0,0,1,2020-03-27,22.9734,78.6569
15,Maharashtra,127,3,15,4,2020-03-27,19.7515,75.7139
16,Manipur,1,0,0,0,2020-03-27,24.6637,93.9063
17,Mizoram,1,0,0,0,2020-03-27,23.1645,92.9376
18,Odisha,2,0,0,0,2020-03-27,20.9517,85.0985
19,Puducherry,1,0,0,0,2020-03-27,11.9416,79.8083
20,Punjab,33,0,0,1,2020-03-27,31.1471,75.3412
21,Rajasthan,39,2,3,0,2020-03-27,27.0238,74.2179
22,Tamil Nadu,23,6,1,1,2020-03-27,11.1271,78.6569
23,Telengana,35,10,1,0,2020-03-27,18.1124,79.0193
24,Uttarakhand,4,1,0,0,2020-03-27,30.0668,79.0193
25,Uttar Pradesh,40,1,11,0,2020-03-27,26.8467,80.9462
26,West Bengal,10,0,0,1,2020-03-27,22.9868,87.8550

In [23]:
df_bs.isna().sum()

Name of State / UT                            0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
Cured/Discharged/Migrated                     0
Death                                         0
Date                                          0
Latitude                                      0
Longitude                                     0
dtype: int64

# Saving data

In [24]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,1,0,0,0,2020-03-27,11.7401,92.6586
1,Andhra Pradesh,12,0,1,0,2020-03-27,15.9129,79.7400
2,Bihar,6,0,0,1,2020-03-27,25.0961,85.3131
3,Chandigarh,7,0,0,0,2020-03-27,30.7333,76.7794
4,Chhattisgarh,6,0,0,0,2020-03-27,21.2787,81.8661
5,Delhi,35,1,6,1,2020-03-27,28.7041,77.1025
6,Goa,3,0,0,0,2020-03-27,15.2993,74.1240
7,Gujarat,42,1,0,3,2020-03-27,22.2587,71.1924
8,Haryana,16,14,11,0,2020-03-27,29.0588,76.0856
9,Himachal Pradesh,3,0,0,1,2020-03-27,31.1048,77.1734
10,Jammu and Kashmir,13,0,1,1,2020-03-27,33.7782,76.5762
11,Karnataka,55,0,3,2,2020-03-27,15.3173,75.7139
12,Kerala,129,8,11,0,2020-03-27,10.8505,76.2711
13,Ladakh,13,0,3,0,2020-03-27,34.2996,78.2932
14,Madhya Pradesh,20,0,0,1,2020-03-27,22.9734,78.6569
15,Maharashtra,127,3,15,4,2020-03-27,19.7515,75.7139
16,Manipur,1,0,0,0,2020-03-27,24.6637,93.9063
17,Mizoram,1,0,0,0,2020-03-27,23.1645,92.9376
18,Odisha,2,0,0,0,2020-03-27,20.9517,85.0985
19,Puducherry,1,0,0,0,2020-03-27,11.9416,79.8083
20,Punjab,33,0,0,1,2020-03-27,31.1471,75.3412
21,Rajasthan,39,2,3,0,2020-03-27,27.0238,74.2179
22,Tamil Nadu,23,6,1,1,2020-03-27,11.1271,78.6569
23,Telengana,35,10,1,0,2020-03-27,18.1124,79.0193
24,Uttarakhand,4,1,0,0,2020-03-27,30.0668,79.0193
25,Uttar Pradesh,40,1,11,0,2020-03-27,26.8467,80.9462
26,West Bengal,10,0,0,1,2020-03-27,22.9868,87.8550

In [25]:
df_bs.columns

Index(['Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

# Combining data

In [26]:
! ls C:\Users\imdevskp\Desktop\covid_india\.day_by_day_data

2020_03_21.csv
2020_03_22.csv
2020_03_23.csv
2020_03_24.csv
2020_03_25.csv
2020_03_26.csv
2020_03_27.csv

In [27]:
# pd.read_csv?

In [28]:
# complete data

loc = "C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\"

files = glob.glob(loc+'2020*.csv')
dfs = []
for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated'})
    dfs.append(df_temp)
    
# print(dfs)

complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

# complete_data['Death'] = complete_data['Death'].str.extract('(\d+)')
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

# complete_data.tail(50)

In [29]:
complete_data.columns

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death'],
      dtype='object')

In [30]:
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [31]:
complete_data['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Rajasthan', 'Haryana',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram',
       'Andaman and Nicobar Islands', 'Goa'], dtype=object)

In [32]:
# sorted(complete_data['Name of State / UT'].unique())

In [33]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419 entries, 0 to 418
Data columns (total 8 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        419 non-null    datetime64[ns]
 1   Name of State / UT                          419 non-null    object
 2   Total Confirmed cases (Indian National)     419 non-null    int32
 3   Total Confirmed cases ( Foreign National )  419 non-null    int32
 4   Cured/Discharged/Migrated                   419 non-null    int32
 5   Latitude                                    419 non-null    float64
 6   Longitude                                   419 non-null    float64
 7   Death                                       419 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(4), object(1)
memory usage: 19.8+ KB

In [34]:
complete_data.to_csv('complete.csv', index=False)