In [19]:
# libraries

from datetime import datetime
import os
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

# Web Scrapping

In [20]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[-1]
# print(thead)
head = thead.find_all('tr')

tbody = soup.find_all('tbody')[-1]
body = tbody.find_all('tr')

# print(rows)

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
    
# print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-1], columns=head_rows[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

,Name of State / UT,Total Confirmed cases *,Cured/Discharged/Migrated,Death
0,Andhra Pradesh,19,1,0
1,Andaman and Nicobar Islands,9,0,0
2,Bihar,11,0,1
3,Chandigarh,8,0,0
4,Chhattisgarh,7,0,0
5,Delhi,53,6,2
6,Goa,5,0,0
7,Gujarat,58,1,5
8,Haryana,33,17,0
9,Himachal Pradesh,3,0,1
10,Jammu and Kashmir,31,1,2
11,Karnataka,80,5,3
12,Kerala,194,19,1
13,Ladakh,13,3,0
14,Madhya Pradesh,33,0,2
15,Maharashtra,193,25,8
16,Manipur,1,0,0
17,Mizoram,1,0,0
18,Odisha,3,0,0
19,Puducherry,1,0,0
20,Punjab,38,1,1
21,Rajasthan,57,3,0
22,Tamil Nadu,50,4,1
23,Telengana,69,1,1
24,Uttarakhand,7,2,0
25,Uttar Pradesh,75,11,0
26,West Bengal,19,0,1

# Data Cleaning

In [21]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases *,Cured/Discharged/Migrated,Death,Date
0,Andhra Pradesh,19,1,0,2020-03-30
1,Andaman and Nicobar Islands,9,0,0,2020-03-30
2,Bihar,11,0,1,2020-03-30
3,Chandigarh,8,0,0,2020-03-30
4,Chhattisgarh,7,0,0,2020-03-30
5,Delhi,53,6,2,2020-03-30
6,Goa,5,0,0,2020-03-30
7,Gujarat,58,1,5,2020-03-30
8,Haryana,33,17,0,2020-03-30
9,Himachal Pradesh,3,0,1,2020-03-30
10,Jammu and Kashmir,31,1,2,2020-03-30
11,Karnataka,80,5,3,2020-03-30
12,Kerala,194,19,1,2020-03-30
13,Ladakh,13,3,0,2020-03-30
14,Madhya Pradesh,33,0,2,2020-03-30
15,Maharashtra,193,25,8,2020-03-30
16,Manipur,1,0,0,2020-03-30
17,Mizoram,1,0,0,2020-03-30
18,Odisha,3,0,0,2020-03-30
19,Puducherry,1,0,0,2020-03-30
20,Punjab,38,1,1,2020-03-30
21,Rajasthan,57,3,0,2020-03-30
22,Tamil Nadu,50,4,1,2020-03-30
23,Telengana,69,1,1,2020-03-30
24,Uttarakhand,7,2,0,2020-03-30
25,Uttar Pradesh,75,11,0,2020-03-30
26,West Bengal,19,0,1,2020-03-30

In [22]:
df_bs['Name of State / UT'].unique()

array(['Andhra Pradesh', 'Andaman and Nicobar Islands', 'Bihar',
       'Chandigarh', 'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Karnataka', 'Kerala',
       'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Mizoram',
       'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telengana', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal'],
      dtype=object)

In [23]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases *,Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,19,1,0,2020-03-30,15.9129,79.7400
1,Andaman and Nicobar Islands,9,0,0,2020-03-30,11.7401,92.6586
2,Bihar,11,0,1,2020-03-30,25.0961,85.3131
3,Chandigarh,8,0,0,2020-03-30,30.7333,76.7794
4,Chhattisgarh,7,0,0,2020-03-30,21.2787,81.8661
5,Delhi,53,6,2,2020-03-30,28.7041,77.1025
6,Goa,5,0,0,2020-03-30,15.2993,74.1240
7,Gujarat,58,1,5,2020-03-30,22.2587,71.1924
8,Haryana,33,17,0,2020-03-30,29.0588,76.0856
9,Himachal Pradesh,3,0,1,2020-03-30,31.1048,77.1734
10,Jammu and Kashmir,31,1,2,2020-03-30,33.7782,76.5762
11,Karnataka,80,5,3,2020-03-30,15.3173,75.7139
12,Kerala,194,19,1,2020-03-30,10.8505,76.2711
13,Ladakh,13,3,0,2020-03-30,34.2996,78.2932
14,Madhya Pradesh,33,0,2,2020-03-30,22.9734,78.6569
15,Maharashtra,193,25,8,2020-03-30,19.7515,75.7139
16,Manipur,1,0,0,2020-03-30,24.6637,93.9063
17,Mizoram,1,0,0,2020-03-30,23.1645,92.9376
18,Odisha,3,0,0,2020-03-30,20.9517,85.0985
19,Puducherry,1,0,0,2020-03-30,11.9416,79.8083
20,Punjab,38,1,1,2020-03-30,31.1471,75.3412
21,Rajasthan,57,3,0,2020-03-30,27.0238,74.2179
22,Tamil Nadu,50,4,1,2020-03-30,11.1271,78.6569
23,Telengana,69,1,1,2020-03-30,18.1124,79.0193
24,Uttarakhand,7,2,0,2020-03-30,30.0668,79.0193
25,Uttar Pradesh,75,11,0,2020-03-30,26.8467,80.9462
26,West Bengal,19,0,1,2020-03-30,22.9868,87.8550

In [24]:
df_bs.isna().sum()

Name of State / UT           0
Total Confirmed cases *      0
Cured/Discharged/Migrated    0
Death                        0
Date                         0
Latitude                     0
Longitude                    0
dtype: int64

# Saving data

In [25]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases *,Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andhra Pradesh,19,1,0,2020-03-30,15.9129,79.7400
1,Andaman and Nicobar Islands,9,0,0,2020-03-30,11.7401,92.6586
2,Bihar,11,0,1,2020-03-30,25.0961,85.3131
3,Chandigarh,8,0,0,2020-03-30,30.7333,76.7794
4,Chhattisgarh,7,0,0,2020-03-30,21.2787,81.8661
5,Delhi,53,6,2,2020-03-30,28.7041,77.1025
6,Goa,5,0,0,2020-03-30,15.2993,74.1240
7,Gujarat,58,1,5,2020-03-30,22.2587,71.1924
8,Haryana,33,17,0,2020-03-30,29.0588,76.0856
9,Himachal Pradesh,3,0,1,2020-03-30,31.1048,77.1734
10,Jammu and Kashmir,31,1,2,2020-03-30,33.7782,76.5762
11,Karnataka,80,5,3,2020-03-30,15.3173,75.7139
12,Kerala,194,19,1,2020-03-30,10.8505,76.2711
13,Ladakh,13,3,0,2020-03-30,34.2996,78.2932
14,Madhya Pradesh,33,0,2,2020-03-30,22.9734,78.6569
15,Maharashtra,193,25,8,2020-03-30,19.7515,75.7139
16,Manipur,1,0,0,2020-03-30,24.6637,93.9063
17,Mizoram,1,0,0,2020-03-30,23.1645,92.9376
18,Odisha,3,0,0,2020-03-30,20.9517,85.0985
19,Puducherry,1,0,0,2020-03-30,11.9416,79.8083
20,Punjab,38,1,1,2020-03-30,31.1471,75.3412
21,Rajasthan,57,3,0,2020-03-30,27.0238,74.2179
22,Tamil Nadu,50,4,1,2020-03-30,11.1271,78.6569
23,Telengana,69,1,1,2020-03-30,18.1124,79.0193
24,Uttarakhand,7,2,0,2020-03-30,30.0668,79.0193
25,Uttar Pradesh,75,11,0,2020-03-30,26.8467,80.9462
26,West Bengal,19,0,1,2020-03-30,22.9868,87.8550

In [26]:
df_bs.columns

Index(['Name of State / UT', 'Total Confirmed cases *',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')

# Combining data

In [27]:
! ls C:\Users\imdevskp\Desktop\covid_india\.day_by_day_data

2020_03_21.csv
2020_03_22.csv
2020_03_23.csv
2020_03_24.csv
2020_03_25.csv
2020_03_26.csv
2020_03_27.csv
2020_03_28.csv
2020_03_29.csv
2020_03_30.csv

In [28]:
# pd.read_csv?

In [29]:
# complete data

loc = "C:\\Users\\imdevskp\\Desktop\\covid_india\\.day_by_day_data\\"

files = glob.glob(loc+'2020*.csv')
   
dfs = []
for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    df_temp = df_temp.rename(columns={'Cured/Discharged':'Cured/Discharged/Migrated'})
    dfs.append(df_temp)
    
# print(dfs)

complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged/Migrated', 'Death']

# complete_data['Death'] = complete_data['Death'].str.extract('(\d+)')
complete_data[cols] = complete_data[cols].fillna(0).astype('int')

# complete_data.tail(50)

In [30]:
complete_data.columns

Index(['Date', 'Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )',
       'Cured/Discharged/Migrated', 'Latitude', 'Longitude', 'Death',
       'Total Confirmed cases *'],
      dtype='object')

In [31]:
complete_data['Name of State / UT'].replace('Chattisgarh', 'Chhattisgarh', inplace=True)
complete_data['Name of State / UT'].replace('Pondicherry', 'Puducherry', inplace=True)

In [32]:
complete_data['Name of State / UT'].unique()

array(['Kerala', 'Delhi', 'Telengana', 'Rajasthan', 'Haryana',
       'Uttar Pradesh', 'Tamil Nadu', 'Union Territory of Ladakh',
       'Karnataka', 'Maharashtra', 'Punjab',
       'Union Territory of Jammu and Kashmir', 'Andhra Pradesh',
       'Uttarakhand', 'Odisha', 'Puducherry', 'West Bengal',
       'Chhattisgarh', 'Union Territory of Chandigarh', 'Gujarat',
       'Chandigarh', 'Himachal Pradesh', 'Jammu and Kashmir', 'Ladakh',
       'Madhya Pradesh', 'Bihar', 'Manipur', 'Mizoram',
       'Andaman and Nicobar Islands', 'Goa'], dtype=object)

In [33]:
complete_data.tail()

,Date,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured/Discharged/Migrated,Latitude,Longitude,Death,Total Confirmed cases *
495,2020-03-30,Tamil Nadu,0,0,4,11.1271,78.6569,1,50
496,2020-03-30,Telengana,0,0,1,18.1124,79.0193,1,69
497,2020-03-30,Uttar Pradesh,0,0,11,26.8467,80.9462,0,75
498,2020-03-30,Uttarakhand,0,0,2,30.0668,79.0193,0,7
499,2020-03-30,West Bengal,0,0,0,22.9868,87.8550,1,19

In [34]:
# sorted(complete_data['Name of State / UT'].unique())

In [35]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Date                                        500 non-null    datetime64[ns]
 1   Name of State / UT                          500 non-null    object
 2   Total Confirmed cases (Indian National)     500 non-null    int32
 3   Total Confirmed cases ( Foreign National )  500 non-null    int32
 4   Cured/Discharged/Migrated                   500 non-null    int32
 5   Latitude                                    500 non-null    float64
 6   Longitude                                   500 non-null    float64
 7   Death                                       500 non-null    int32
 8   Total Confirmed cases *                     500 non-null    int64
dtypes: datetime64[ns](1), float64(2), int32(4), int64(1), object(1)
memory usage: 27.5+ KB

In [36]:
complete_data.to_csv('complete.csv', index=False)